<section id="gallery">
    <div class="gallery-content fullscreen"><a class="close-button"><i class="icon-close"></i></a>
        <div class="gallery">
            <div class="loading-spinner"></div>
            <div id="images" class="owl-carousel">
            	<div class="item-video"><a class="owl-video" href="http://vimeo.com/24922755"></a></div>
            	<div class="item"><figure><img src="http://placehold.it/600x400" /></figure></div>
            	<div class="item"><figure><img src="http://placehold.it/600x400" /></figure></div>
            	<div class="item"><figure><img src="http://placehold.it/600x400" /></figure></div>
            </div>
            <div class="controls"></div>
        </div>
    </div>
</section>