<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">
    </head>
    <body class="intro-fullscreen fixed-footer yo-anim-enabled">
<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">
</nav>
<div id="mobile-nav" class="visible-xs visible-sm" th:replace="index::nav2">
</div>

<div class="section-intro section-intro-parallax close-on-click" data-opacity-start="30" data-opacity-end="100">
	<div class="bg-section  blog-fullscreen"></div>
	<div class=" pre-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12">
					<h1 class="yo-anim yo-anim-fade" data-animation-delay="100">Our Delicious Blog</h1>
					<p class="yo-anim yo-anim-fade" data-animation-delay="500">Suspendisse pellentesque ipsum non mauris rutrum mollis. Aliquam tristique dui et nunc iaculis, id accumsan nunc eleifend. Etiam ullamcorper risus vel mollis sagittis.Praesent id lobortis quam. Ut pretium nunc at arcu elementum molestie. Morbi euismod leo ut semper fringilla.</p>
				</div>
			</div>
		</div>
	</div>
	<a class="arrow1 arrow-section hidden-xs" href="#">
		<i class="fa fa-angle-down"></i>
	</a> 
	<a class="arrow2 arrow-section hidden-xs" href="#" style="">
		<i class="fa fa-angle-up"></i>
	</a>

</div>
<div class="section-space"></div>

<section id="blog" class="section-scroll main-section blog-content blog">
	<header class="section-header">
		<h2>News</h2>
	</header> 	
	<div class="container-fluid">

		<div id="blog-content-append" class="row">
			<article class="post">
				<a href="post.html" class="img-post unveil">
					<figure>
						<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" alt="Menu item"/>
						<div class="actions">
							<i class="icon-magnifier-add"></i>
						</div>
					</figure>
				</a>
				<div class="post-content">
					<div class="">
						<div class=""> 
							<span class="date">23 | 05 | 2014</span>
							<h3><a href="post.html">Exquisite Flavours and Ingredients</a></h3>
							
							
							<p>Pellentesque fringilla mauris id dolor ultrices elementum. In auctor odio neque, a convallis lacus eleifend in. Nunc hendrerit, est quis bibendum tempus, lectus libero ullamcorper purus, ac ultricies magna enim id eros.</p>
							<div class="blog-button">
								<a href="post.html" class="btn btn-default">read more</a>
							</div> 
						</div>
					</div>
				</div>
			</article>
			<article class="post">
				<a href="post2.html" class="img-post unveil">
					<figure>
						<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" alt="Menu item"/>
						<div class="actions">
							<i class="icon-magnifier-add"></i>
						</div>
					</figure>
				</a>
				<div class="post-content">
					<div class="">
						<div class=""> 
							<span class="date">12 | 05 | 2014</span>
							<h3><a href="post2.html">Craftsmanship of Cooking and Tradition</a></h3>
							<p>Vivamus lorem purus, sollicitudin ut aliquet at, tincidunt eu risus. Sed congue scelerisque blandit. Aliquam sed semper velit, et mattis massa. Suspendisse interdum semper lacus nec egestas. </p>
							<div class="blog-button">
								<a href="post2.html" class="btn btn-default">read more</a>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="post">
				<a href="post.html" class="img-post unveil">
					<figure>
						<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" alt="Menu item"/>
						<div class="actions">
							<i class="icon-magnifier-add"></i>
						</div>
					</figure>
				</a>
				<div class="post-content">
					<div class="">
						<div class=""> 
							<span class="date">18 | 04 | 2014</span>
							<h3><a href="post.html">People are Everything</a></h3>
							<p>Morbi eleifend scelerisque tellus, Josepe Pikoloti sodales a. Mauris posuere, Silva Vargas ante in aliquet consequat, libero metus venenatis augue, ut aliquam sem purus eu eros.</p>
							<div class="blog-button">
								<a href="post.html" class="btn btn-default">read more</a>
							</div>
						</div>
					</div>
				</div>
			</article>
			<article class="load-more post" data-href="blog-content-2.html">
				<div class="load-more-text">
					<span class="hidden-xs">Load more</span>
					<button class="visible-xs">Load more</button>
				</div>
			</article>
		</div>
	</div>
</section>

<div id="footer-spacer"></div>
<footer id="footer" class="text-center" th:replace="index::footer">
</footer>
	</body>
</html>
