<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">

    </head>
    <body class="intro-top fixed-footer yo-anim-enabled">

		<!--content-->


<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">

</nav>
<div id="mobile-nav" class="visible-xs visible-sm" th:replace="index::nav2">
</div>

<div class="section-intro section-intro-parallax">
	<div class="bg-section shop-fullscreen"></div>

</div>
<div class="section-space"></div>

<section id="cart" class="section-scroll main-section shop">
	
	<ul class="list-category">
		<li>
			<span class="filter" data-filter="all">Show all</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-1">Promotions</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-2">Starters</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-3">Salads</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-4">Soups</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-5">Mains</span>
		</li>
		<li class="shop-list">
			<ul>
				<li class="shopping">
					<a href="cart.html">Checkout</a>
				</li>
				<li class="shopping">
					<a href="#">Wishlist</a>
				</li>
				<li class="shopping">
					<a href="#">Login</a>
				</li>
				<li class="shopping-cart">
	<a href="cart.html" class="cart">Cart</a>
	<ul class="show-cart">
		<li class="product">
			<a href="product.html" class="img-product">
				<figure><img src="http://placehold.it/100x100" alt=""/></figure>
			</a>
			<div class="list-product">
				<a href="product.html"><h5>Burbon Chicken</h5></a>
				<div class="quantity">1</div>
				<div class="price-product">$22.90</div>
				<div class="remove-product"><i class="icon-close"></i></div>
			</div>
		</li>
		<li class="product">
			<a href="product.html" class="img-product">
				<figure><img src="http://placehold.it/100x100" alt=""/></figure>
			</a>
			<div class="list-product">
				<h5>Crock Pot Chicken</h5>
				<div class="quantity">1</div>
				<div class="price-product">$16.50</div>
				<div class="remove-product"><i class="icon-close"></i></div>
			</div>
		</li>
		<li class="product">
			<a href="product.html" class="img-product">
				<figure><img src="http://placehold.it/100x100" alt=""/></figure>
			</a>
			<div class="list-product">
				<h5>Hamburger with fries</h5>
				<div class="quantity">3</div>
				<div class="price-product">$15.90</div>
				<div class="remove-product"><i class="icon-close"></i></div>
			</div>
		</li>
		<li class="summation">
			<div class="summation-subtotal">
				<span>subtotal:</span>
				<span class="amount">$87.10</span>
			</div>
			<div class="btn-cart">
				<button class="btn btn-default"><a href="cart.html">view cart</a></button>
				<button class="btn btn-dark"><a href="cart.html">checkout</a></button>
			</div>
		</li>
		
	</ul>
</li>
			</ul>
		</li>
	</ul> 
	<header class="section-header">
		<h2>Cart</h2>
	</header>
	<div class="container-fluid">
		<div class="row">
			<div class="cart-products">
				<div class="container">
					<div class="row cart-header">
						<div class="col-xs-4 col-sm-5">
							<h5 class="product-name">Product name</h5>
						</div>
						<div class="col-xs-2">
							<h5 class="product-price">Unit price</h5>
						</div>
						<div class="col-xs-2">
							<h5 class="product-quantity">Qty</h5>
						</div>
						<div class="col-xs-2">
							<h5 class="product-subtotal">Subtotal</h5>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row cart-item">
					<div class="col-xs-4 col-sm-5 product-name">
						<a href="product.html" class="product-thumbnail"><img src="http://placehold.it/100x100" class="" alt=""></a>	
						<a href="product.html" class="name">Burbon Chicken</a>
						<span>Size: M</span>							
						<span>Color: Red</span>
					</div>
					<div class="col-xs-2 product-position product-price">
						<span class="amount">$22.90</span>		
					</div>
					<div class="col-xs-2 product-position product-quantity">
						<div class="quantity">
							<input type="text" step="1" name="" value="1" title="Qty" class="input-text qty text" size="4">
							<input type="button" value="+" class="plus hidden-xs">
							<input type="button" value="-" class="minus hidden-xs">
						</div>		
					</div>
					<div class="col-xs-2 product-position product-subtotal">
						<span class="amount">$22.90</span>		
					</div>
					<div class="col-xs-1 product-position product-remove">
						<a href="#" class="remove" data-djax-exclude="true" title="Remove this item"><i class="icon-close"></i></a>	
					</div>
				</div>
				<div class="row cart-item">
					<div class="col-xs-4 col-sm-5 product-name">
						<a href="product.html" class="product-thumbnail"><img src="http://placehold.it/100x100" class="" alt=""></a>	
						<a href="product.html" class="name">Crock Pot Chicken</a>
						<span>Size: S</span>							
						<span>Color: Blue</span>
					</div>
					<div class="col-xs-2 product-position product-price">
						<span class="amount">$16.50</span>		
					</div>
					<div class="col-xs-2 product-position product-quantity">
						<div class="quantity">
							<input type="text" step="1" name="" value="1" title="Qty" class="input-text qty text" size="4">
							<input type="button" value="+" class="plus hidden-xs">
							<input type="button" value="-" class="minus hidden-xs">
						</div>		
					</div>
					<div class="col-xs-2 product-position product-subtotal">
						<span class="amount">$16.50</span>		
					</div>
					<div class="col-xs-1 product-position product-remove">
						<a href="#" class="remove" data-djax-exclude="true" title="Remove this item"><i class="icon-close"></i></a>	
					</div>
				</div>
				<div class="row cart-item">
					<div class="col-xs-4 col-sm-5 product-name">
						<a href="product.html" class="product-thumbnail"><img src="http://placehold.it/100x100" class="" alt=""></a>	
						<a href="product.html" class="name">Hamburger with fries</a>
						<span>Size: L</span>							
						<span>Color: Black</span>
					</div>
					<div class="col-xs-2 product-position product-price">
						<span class="amount">$15.90</span>		
					</div>
					<div class="col-xs-2 product-position product-quantity">
						<div class="quantity">
							<input type="text" step="1" name="" value="3" title="Qty" class="input-text qty text" size="4">
							<input type="button" value="+" class="plus hidden-xs">
							<input type="button" value="-" class="minus hidden-xs">
						</div>		
					</div>
					<div class="col-xs-2 product-position product-subtotal">
						<span class="amount">$47.70</span>		
					</div>
					<div class="col-xs-1 product-position product-remove">
						<a href="#" class="remove" data-djax-exclude="true" title="Remove this item"><i class="icon-close"></i></a>	
					</div>
				</div>

				<div class="row cart-subtotal">
					<div class="col-xs-2 col-xs-offset-6 col-sm-offset-7 subtotal-txt">
						<span>Total:</span>	
					</div>
					<div class="col-xs-2 subtotal">
						<span class="amount">$87.10</span>	
					</div>
				</div>
				<div class="row cart-buttons">
					<div class="col-xs-12">
						<a href="#" class="btn btn-dark  continue-shopping">Continue shopping</a>
						<div class="product-btn">
							<a href="#" class="btn btn-default ">clear shopping cart</a>
							<a href="#" class="btn btn-default  ">Update basket</a>
						</div>
					</div>
				</div>
				<div class="row cart-buttons">
					<div class="col-xs-12">
						<div class="coupon-code">
							<input type="text" placeholder="Coupon code" class="form-control">
							<a href="#" class="btn btn-default ">Apply coupon</a>
						</div>
						<div class="product-btn"> 
							<a href="#" class="btn btn-color  ">Proceed to checkout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>

<div id="footer-spacer"></div>
<footer id="footer" class="text-center" th:replace="index::footer">
</footer>
    </body>
</html>
