<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">
    </head>
    <body class="intro-fullscreen fixed-footer yo-anim-enabled">

		<!--content-->

<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">

</nav>
<div id="mobile-nav" class="visible-xs visible-sm" th:replace="index::nav2">

</div>

<div class="section-intro section-intro-parallax close-on-click" data-opacity-start="30" data-opacity-end="100">
	<div class="bg-section opacity-50 reservation-fullscreen"></div>
	<div class="pre-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">
					<h1 class="yo-anim yo-anim-fade" data-animation-delay="100">Fullscreen intro</h1>
					<p class="yo-anim yo-anim-fade" data-animation-delay="500">Scroll down to move into content section. <br/>Bottom part of this image will be your header.</p>
				</div>
			</div>
		</div>
	</div>
	<a class="arrow1 arrow-section hidden-xs" href="#">
		<i class="fa fa-angle-down"></i>
	</a> 
	<a class="arrow2 arrow-section hidden-xs" href="#" style="">
		<i class="fa fa-angle-up"></i>
	</a>	
</div>


<div class="section-space"></div>
<section id="reservation" class="section-scroll main-section">
	<div class="main-section">
		<div class="reservation-content container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 reservation-header">
					<h1>Fullscreen intro with parallax effect</h1>
					<p class="lead">You can get this effect by using <strong>intro-fullsceen</strong> class for <strong>body</strong>.</p>
					<p>Nunc ac orci in sem vulputate interdum. Ut feugiat lacus eget velit ullamcorper, nec aliquam ante fermentum. Cras iaculis dui in libero aliquam commodo. Sed bibendum vitae nisi nec fermentum. Sed enim ante, interdum non adipiscing eu, commodo quis magna.</p>
					<p>Lorem ipsum Adipisicing sint non ut veniam ad Excepteur proident incididunt occaecat ullamco ad sit nostrud aliquip magna culpa elit sunt quis dolore eiusmod laboris cupidatat proident amet minim fugiat sed cillum magna laborum amet in pariatur laboris consequat elit.</p>
					<p>Lorem ipsum Sunt dolore dolor Duis adipisicing incididunt sed aliqua labore ut sit labore ullamco consectetur Ut adipisicing do consectetur adipisicing non sunt deserunt sint id dolor culpa id.</p>


				</div>				
			</div>
		</div>
	</div>

</section>

<div id="footer-spacer"></div>
        <footer id="footer" class="text-center" th:replace="index::footer"></footer>
	</body>
</html>
