<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">
    </head>
    <body class="intro-top fixed-footer scrollable yo-anim-enabled">

		<!--content-->

<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">

</nav>
<div id="mobile-nav" class="visible-xs visible-sm" th:replace="index::nav2">
</div>

<div class="section-intro section-intro-parallax" data-opacity-start="100" data-opacity-end="100">
	<div class="bg-section  menu-fullscreen"></div>

</div>
<div class="section-space"></div>
<div id="gallery" class="section-scroll main-section">
	<section id="gallery-wrapper" class="">
		<ul class="list-category">
			<li>
				<span class="filter" data-filter="all">Show all</span>
			</li>
			<li>
				<span class="filter" data-filter=".category-1">Promotions</span>
			</li>
			<li>
				<span class="filter" data-filter=".category-2">starters</span>
			</li>
			<li>
				<span class="filter" data-filter=".category-3">salads</span>
			</li>
		</ul>
		<header class="section-header">
			<h2>Gallery</h2>
		</header> 
		<div class="gallery-content three-columns" data-columns="3">

			<a class="mix category-1 open-overlay" href="img/placeholder-overlay.gif" >
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600"/>
				<div class="hidden-xs">
					<div>
						<span>						
							<h3>Single image</h3>
							<p>This is an example for single image.</p>
						</span>
					</div>
				</div>
			</a>
			<a class="mix category-3 open-overlay" href="img/placeholder-overlay.gif" >
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" />
				<div class="hidden-xs">
					<div>
						<span>
							<h3>Multiple images</h3>
							<p>This is an example for multiple image. Group your images with "rel" attribute.</p>
						</span>
					</div>				
				</div>	
			</a>
			<a class="mix category-2 open-overlay" href="ajax-gallery.html">
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" />
				<div class="hidden-xs">
					<div>
						<span>
							<h3>Ajax loaded album</h3>
							<p>This is the most advanced option. Provide url to another file with album content. You can use images and videos.</p>
						</span>
					</div>
				</div>
			</a>
			<a class="mix category-1 open-overlay" href="img/placeholder-overlay.gif">
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" />
				<div class="hidden-xs">
					<div>
						<span>
							<h3>Exquisite Flavours and Ingredients</h3>
							<p>Lorem ipsum Commodo nostrud do aliquip consequat incididunt nulla quis cillum Duis.</p>
						</span>
					</div>
				</div>				
			</a>

			<a class="mix category-3 open-overlay" href="img/placeholder-overlay.gif">
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" />
				<div class="hidden-xs">
					<div>
						<span>
							<h3>Exquisite Flavours and Ingredients</h3>
							<p>Lorem ipsum Commodo nostrud do aliquip consequat incididunt nulla quis cillum Duis.</p>
						</span>
					</div>
				</div>
			</a>
			<a class="mix category-1 open-overlay" href="img/placeholder-overlay.gif">
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" />
				<div class="hidden-xs">
					<div>
						<span>
							<h3>Exquisite Flavours and Ingredients</h3>
							<p>Lorem ipsum Commodo nostrud do aliquip consequat incididunt nulla quis cillum Duis.</p>
						</span>
					</div>				
				</div>
			</a>

			<a class="mix category-2 open-overlay" href="img/placeholder-overlay.gif">
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" />
				<div class="hidden-xs">
					<div>
						<span>

							<h3>Exquisite Flavours and Ingredients</h3>

							<p>Lorem ipsum Commodo nostrud do aliquip consequat incididunt nulla quis cillum Duis.</p>
						</span>
					</div>		
				</div>		

			</a>

			<a class="mix category-3 open-overlay" href="img/placeholder-overlay.gif">
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" />
				<div class="hidden-xs">
					<div>
						<span>

							<h3>Exquisite Flavours and Ingredients</h3>

							<p>Lorem ipsum Commodo nostrud do aliquip consequat incididunt nulla quis cillum Duis.</p>
						</span>
					</div>		
				</div>		

			</a>

			<a class="mix category-2 open-overlay" href="img/placeholder-overlay.gif">
				<img src="img/placeholder2.png" data-src="http://placehold.it/1000x600" />
				<div class="hidden-xs">
					<div>
						<span>
							<h3>Exquisite Flavours and Ingredients</h3>
							<p>Lorem ipsum Commodo nostrud do aliquip consequat incididunt nulla quis cillum Duis.</p>
						</span>
					</div>		
				</div>		
			</a>
		</div>

	</section>
	<div class="new-content hidden"></div>
	<div class="load-more post" data-href="gallery-content-2.html">
		<div class="load-more-text">
			<span class="hidden-xs">Load more</span>
			<button class="visible-xs">Load more</button>
		</div>
	</div>	
</div>

<div id="footer-spacer"></div>
        <footer id="footer" class="text-center" th:replace="index::footer"></footer>
	</body>
</html>
