<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">
    </head>
    <body class="intro-fullscreen fixed-footer scroll-down yo-anim-enabled">
<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">
</nav>
<div id="mobile-nav" class="visible-xs visible-sm" th:replace="index::nav2">
</div>
<div class="section-intro section-intro-parallax close-on-click"  data-opacity-start="30" data-opacity-end="100">
	<div class="bg-section menu-fullscreen" data-ht-parallax="300"></div>
	<div class="pre-content">
		<div class="container"> 
			<div class="row">   
				<div class="col-xs-12">
					<h1 class="yo-anim yo-anim-fade" data-animation-delay="100">Menu à la carte</h1>
					<p class="yo-anim yo-anim-fade" data-animation-delay="500">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce nec pellentesque orci. Nulla sit amet dictum sem. Nam facilisis felis non lorem pulvinar ultrices.</p>
				</div>
			</div>  
		</div>
	</div>  
	<a class="arrow1 arrow-section hidden-xs" href="#">
		<i class="fa fa-angle-down"></i>
	</a>
	<a class="arrow2 arrow-section hidden-xs" href="#" style="">
		<i class="fa fa-angle-up"></i>
	</a> 
</div> 
<div class="section-space"></div>
<section id="menu" class="section-scroll main-section menu">
	<ul class="list-category">
		<li> 
			<span class="filter" data-filter="all">Show all</span>
		</li>
		<li>    
			<span class="filter" data-filter=".promotions">Promotions</span>
		</li>
		<li>
			<span class="filter" data-filter=".starters">starters</span>
		</li>
		<li>
			<span class="filter" data-filter=".salads">salads</span>
		</li>
		<li>
			<span class="filter" data-filter=".soups">soups</span>
		</li>
		<li>
			<span class="filter" data-filter=".mains">mains</span>
		</li>
		<li>
			<span class="filter" data-filter=".desserts">desserts</span>
		</li>
		<li>
			<span class="filter" data-filter=".drinks">drinks</span>
		</li>
	</ul>

	<!--			</div>
			</div>
		</div> -->
	<div class="container-fluid menu-content mixitup">

		<div class="mix promotions" data-myorder="1">
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header sticky-header first-header fixed visible">
					<h2>Promotions</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Burbon Chicken</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="old-price">$24.90</span>
								<span class="new-price item-price">$22.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>To Die for Crock Pot Roast</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="old-price">$18.90</span>
								<span class="new-price item-price">$21.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Crock Pot Chicken</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="old-price">$16.50</span>
								<span class="new-price item-price">$16.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Beetroots from the earth</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="old-price">$23.50</span>
								<span class="new-price item-price">$22.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Meat Fruit</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="old-price">$15.30</span>
								<span class="new-price item-price">$11.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Ceviche with watermelon</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="old-price">$12.50</span>
								<span class="new-price item-price">$9.90</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="mix starters" data-myorder="2">

			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>Starters</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Char on Rock Salt</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$45.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>The game of hunting</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$38.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Crock Pot Chicken</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$66.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Burbon Chicken</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$53.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Ceviche with watermelon pieces</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$35.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Meat Fruit</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$45.90</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="mix salads" data-myorder="3">

			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>salads</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>To Die for Crock Pot Roast</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$38.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Vendome</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$66.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Batter balls with sardines</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$53.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Burbon Chicken</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$15.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>The game of hunting</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$36.40</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Ceviche with watermelon pieces</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$23.90</span>
							</div>
						</div>
					</div>
				</div>						
			</div>

		</div>
		<div class="mix soups" data-myorder="4">

			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>Soups</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Beetroots from the earth</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$9.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Eucalyptus Smoked Lion of Lamb </h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$8.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Burbon Chicken</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$9.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Char on Rock Salt</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$10.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Vendome</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$9.30</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Toasted black rice with green vegetables</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$5.60</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mix mains" data-myorder="5">
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>mains</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>The game of hunting</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$45.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Ceviche with watermelon</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$38.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Meat Fruit</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$66.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Eucalyptus Smoked Lion of Lamb </h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$53.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Vendome</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$35.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Batter balls with sardines</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$45.90</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="mix desserts" data-myorder="6">

			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>desserts</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Toasted black rice with green vegetables</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$38.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Beetroots from the earth</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$66.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Burbon Chicken</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$53.90</span>
							</div>
						</div>
					</div>
				</div>	
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Char on Rock Salt</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$15.60</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Ceviche with watermelon pieces</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$6.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Vendome</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$23.80</span>
							</div>
						</div>
					</div>
				</div>					
			</div>
		</div>

		<div class="mix drinks" data-myorder="7">	

			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>Drinks</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>To Die for Crock Pot Roast</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$5.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Crock Pot Chicken</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$3.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Char on Rock Salt</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$6.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<h6>The game of hunting</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$5.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Ceviche with watermelon pieces </h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$3.90</span>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="img/placeholder-overlay.gif" class="hidden-xs  open-overlay">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6>Meat Fruit</h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<span class="item-price">$6.90</span>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<div id="footer-spacer"></div>
<footer id="footer" class="text-center" th:replace="index::footer">
</footer>

    </body>
</html>
