<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">

    </head>
    <body class="no-smooth-scroll fullpage-scroll yo-anim-enabled">
		<!--content-->
<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">
</nav>
<div id="mobile-nav" class="visible-xs visible-sm" th:replace="index::nav2">
</div>



<ul class="page-control hidden-xs">
</ul>
<section id="restaurant" class="main main-section">

	<div class="item section">
		<div class="visible-xs mobile-img"><img src="http://placehold.it/1440x900"/></div>
		<div class="container restaurant-content pre-content">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 item__description">
					<h1>An Italian dream</h1>
					<p>It all started when my sweet granny came to the shore of US in 1926. As the time passed by she decided to open una resturacione de la vega. Nullam vel suscipit erat. Fusce augue est, tempus vitae venenatis sit amet.</p>
				</div>
			</div>
		</div>
		<div class="restaurant-fullscreen bg-section hidden-xs opacity-30" style="background-image: url(http://placehold.it/1440x900); left: 0;"></div>
	</div>



	<div class="item section">
		<div class="visible-xs mobile-img"><img src="http://placehold.it/1440x900"/></div>
		<div class="container restaurant-content pre-content">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 item__description">
					<h1>Quality over Quantity</h1>
					<p>Then best comes from Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed mauris in purus venenatis aliquet. Donec ipsum erat, placerat faucibus gravida at, vestibulum non dui.</p>
				</div>
			</div>
		</div>
		<div class="restaurant-fullscreen bg-section hidden-xs opacity-30" style="background-image: url(http://placehold.it/1440x900); left: 0;"></div>
	</div>

	<div class="item section">
		<div class="visible-xs mobile-img"><img src="http://placehold.it/1440x900"/></div>
		<div class="container restaurant-content pre-content">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 item__description">
					<h1>People are Everything </h1>
					<p>Morbi eleifend scelerisque tellus, Josepe Pikoloti sodales a. Mauris posuere, Silva Vargas ante in aliquet consequat, libero metus venenatis augue, ut aliquam sem purus eu eros. Nam tellus Sergio Beni metus, viverra eu diam non, laoreet lobortis velit. Sed vulputate dictum metus.</p>
				</div>
			</div>
		</div>
		<div class="restaurant-fullscreen bg-section hidden-xs opacity-30" style="background-image: url(http://placehold.it/1440x900); left: 0;"></div>
	</div>

	<div class="item section">
		<div class="video-wrapper" style="position:absolute; width: 100%; height: 100%; left:0; top: 0; "></div>
		<div id="P1" class="player" style="display:block; margin: auto; background: rgba(0,0,0,0.5);" data-property="{videoURL:'http://youtu.be/dSpQ5zdR4dE',containment:'.video-wrapper',startAt:0,mute:true,autoPlay:true,loop:true,opacity:1, showControls: false}"></div>
		<div class="video-mask hidden-xs"></div>
		<div class="video-controls hidden-xs">
			<div class="pause">
				<i class="icon-control-pause"></i>
			</div>
			<div class="play hidden">
				<i class="icon-control-play"></i>
			</div>
			<div class="fullscreen">
				<i class="icon-size-fullscreen"></i>
			</div>
		</div>
		<div class="container restaurant-content pre-content">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 item__description">
					<h1>Craftsmanship of Cooking and Tradition</h1>
					<p>Vivamus lorem purus, sollicitudin ut aliquet at, tincidunt eu risus. Sed congue scelerisque blandit. Aliquam sed semper velit, et mattis massa. Suspendisse interdum semper lacus nec egestas. Fusce eu laoreet sem. </p>
				</div>
			</div>
		</div>
	</div>

</section>

		<div class="gallery-wrapper"></div>

        <div id="preloader" >
            <div id="status">
                <div class="loading-wrapper">
                    <img th:src="@{/html/img/logo2.png}" alt="Loading"/>
                </div>
            </div>
            <div id="status-loaded"></div>
        </div>
        <script th:src="@{/html/js/browser.js}"></script>
        <script th:src="@{/html/js/jquery.ba-throttle-debounce.min.js}"></script>
        <script th:src="@{/html/js/jquery.smooth-scroll.js}"></script>
        <script th:src="@{/html/js/matchmedia.js}"></script>
        <script th:src="@{/html/js/enquire.min.js}"></script>
        <script th:src="@{/html/js/jquery.velocity.min.js}"></script>
        <script th:src="@{/html/js/waypoints.js}"></script>
        <script th:src="@{/html/js/owl.carousel.js}"></script>
        <script th:src="@{/html/js/jquery.mb.YTPlayer.js}"></script>
        <script th:src="@{/html/js/jquery.parallaxify.js}"></script>
        <script th:src="@{/html/js/jquery.imagesloaded.js}"></script>
        <script th:src="@{/html/js/jquery.unveil.min.js}"></script>
        <script th:src="@{/html/js/jquery.superslides.min.js}"></script>
        <script th:src="@{/html/js/jquery.fullPage.min.js}"></script>
        <script th:src="@{/html/js/jquery.mixitup.js}"></script>
        <script th:src="@{/html/js/main.js}"></script>
	</body>
</html>

