<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">
		<meta charset="utf-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Shop - BergTheme HTML</title>
		<meta name="description" content="">
		<meta name="msapplication-tap-highlight" content="yes" />

		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
		<link href='http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!--		 Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!--<link rel="stylesheet" href="css/custom.css">
        <script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/modernizr-2.6.2.min.js"></script>-->


    </head>
    <body class="intro-fullscreen fixed-footer scroll-down yo-anim-enabled">

		<!--content-->


<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">
	<div class="nav hidden-xs">
		<div class="main-reorder pull-right">
			<a href="#">
				<i class="fa fa-bars"></i>
			</a>
		</div>

		<div class="logo pull-left">
			<a href="../index.html">
				<figure>
					<img src="img/logo1.png" class="light-logo" alt="Berg HTML Theme"/>
					<img src="img/logo2.png" class="dark-logo" alt="Berg HTML Theme"/>
				</figure>
			</a>
		</div>
		<div class="main-nav">
			<ul class="pull-right">
				<li>
					<a href="../index.html" class="    ">home</a>
					<div class="subnav">
						<ul class="subnav-wrapper">
							<li>
								<a href="../index.html" class="">parallax</a>
							</li>							
							<li>
								<a href="index2.html" class="">fullscreen slider</a>
							</li>							
							<li>
								<a href="index3.html" class="">video background</a>
							</li>
							<li>
								<a href="index4.html" class="">static background</a>
							</li>
							<li>
								<a href="index5.html" class="">classic</a>
							</li>							
						</ul>
					</div>					
				</li>				
				<li>
					<a href="blog.html" class="">blog</a>
					<div class="subnav">
						<ul class="subnav-wrapper">
							<li>
								<a href="blog.html" class="">blog</a>
							</li>
							<li>
								<a href="post.html" class="">post 1</a>
							</li>
							<li>
								<a href="post2.html" class="">post 2</a>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<a href="restaurant.html" class="">restaurant</a>
				</li>
				<li>
					<a href="menu.html" class="hover-subnav ">menu</a>
					<div class="subnav image-subnav">
						<ul class="subnav-wrapper">			
							<li>
								<a href="menu.html#starters">starters</a>
								<div>
									<a href="menu.html#starters" class="menu-img" style="background-image: url('http://placehold.it/500x500')"></a>
								</div>
							</li>
							<li>
								<a href="menu.html#salads">salads</a>
								<div>							
									<a href="menu.html#salads" class="menu-img" style="background-image: url('http://placehold.it/500x500')"></a>
								</div>
							
							</li>
							<li>
								<a href="menu.html#soups">soups</a>
								<div>
									<a href="menu.html#soups" class="menu-img" style="background-image: url('http://placehold.it/500x500')"></a>
								</div>
							</li>
							<li>
								<a href="menu.html#mains">mains</a>
								<div>
									<a href="menu.html#mains" class="menu-img" style="background-image: url('http://placehold.it/500x500')"></a>
								</div>
							</li>
							<li>
								<a href="menu.html#desserts">desserts</a>
								<div>
									<a href="menu.html#desserts" class="menu-img" style="background-image: url('http://placehold.it/500x500')"></a>
								</div>
							</li>
							<li>
								<a href="menu.html#drinks">drinks</a>
								<div>							
									<a href="menu.html#drinks" class="menu-img" style="background-image: url('http://placehold.it/500x500')"></a>
								</div>
							</li>
						</ul>
					</div>
				</li>	
				<li>
					<a href="reservation.html" class="">reservation</a>
				</li>
				<li>
					<a href="contact.html" class="">contact</a>	
				</li>
				<li>
					<a href="shop.html" class="active">shop</a>
				</li>
				<li>
					<a href="#" class="hover-subnav">pages</a>
					<div class="subnav">
						<ul class="subnav-wrapper ">
							<li>
								<a href="menu2.html" class="">second menu</a>
							</li>
							<li>
								<a href="typography.html" class="">typography</a>
							</li>
							<li>
								<a href="gallery.html" class="">gallery</a>
							</li>						
							<li>
								<a href="fullscreen-intro.html">fullscreen intro</a>
							</li>
							<li>
								<a href="top-intro.html">top header</a>
							</li>
							<li>
								<a href="without-intro.html">no header</a>
							</li>			
						</ul>
					</div>
				</li>				
			</ul>
		</div>
	</div>
</nav>
<div id="mobile-nav" class="visible-xs visible-sm">
	<header>
		<div class="container-fluid">
			<ul class="menu-header">
				<li class="pull-left">
					<a href="../index.html" class="logo">
						<figure>
							<img src="img/logo2.png" alt="Berg HTML Theme"/>
						</figure>
					</a>
				</li>
				<li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
			</ul>
		</div>
	</header>	
	<div class="" id="flyout-container">
		<ul id="mobile-navbar" class="nav flyout-menu main-nav nav-height">
			<li class="nav-item">
				<a title="" href="../index.html">home</a>
			</li>
			<li class="nav-item">
				<a title="" href="blog.html">blog</a>
				<span class="open-children"><i class="fa fa-angle-down"></i></span>
				<ul class="subnav">
					<li>
						<a href="blog.html"><span>blog</span></a>
					</li>
					<li><a href="post.html" title=""><span>post 1</span></a></li>
					<li><a href="post2.html" title=""><span>post 2</span></a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a title="" href="restaurant.html">Restaurant</a>
			</li>
			<li class="nav-item">
				<a title="" href="menu.html" class="">Menu</a>
				<span class="open-children"><i class="fa fa-angle-down"></i></span>
				<ul class="subnav">
					<li><a href="menu.html" title=""><span>Menu 1</span></a></li>
					<li><a href="menu2.html" title=""><span>Menu 2</span></a></li><li><a href="http://www.weidea.net" title=""><span>more</span></a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a title="" href="reservation.html">Reservation</a>
			</li>
			<li class="nav-item">
				<a title="" href="contact.html">Contact</a>
			</li>
			<li class="nav-item">
				<a title="" href="shop.html">Shop</a>
			</li>
			<li class="nav-item">
				<a title="" href="gallery.html">Gallery</a>
			</li>
		</ul>
	</div>
</div>



<div class="section-intro section-intro-parallax close-on-click" data-opacity-start="30" data-opacity-end="100">
	<div class="bg-section shop-fullscreen" data-ht-parallax="300"></div>
	<div class="pre-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h1 class="yo-anim yo-anim-fade" data-animation-delay="100">Order your food online</h1>
					<p class="yo-anim yo-anim-fade" data-animation-delay="500">Suspendisse pellentesque ipsum non mauris rutrum mollis. Aliquam tristique dui et nunc iaculis, id accumsan nunc eleifend. Etiam ullamcorper risus vel mollis sagittis.Praesent id lobortis quam. Ut pretium nunc at arcu elementum molestie. Morbi euismod leo ut semper fringilla.</p>
				</div>
			</div>
		</div>
	</div>
	<a class="arrow1 arrow-section hidden-xs" href="#">
		<i class="fa fa-angle-down"></i>
	</a>
	<a class="arrow2 arrow-section hidden-xs" href="#" style="">
		<i class="fa fa-angle-up"></i>
	</a>
</div>
<div class="section-space"></div>
<section id="shop" class="section-scroll main-section menu shop ">
	<ul class="list-category">
		<li>
			<span class="filter" data-filter="all">Show all</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-1">Promotions</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-2">Starters</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-3">Salads</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-4">Soups</span>
		</li>
		<li>
			<span class="filter" data-filter=".category-5">Mains</span>
		</li>
		<li class="shop-list">
			<ul>
				<li class="shopping">
					<a href="cart.html">Checkout</a>
				</li>
				<li class="shopping">
					<a href="#">Wishlist</a>
				</li>
				<li class="shopping">
					<a href="#">Login</a>
				</li>
				<li class="shopping-cart">
	<a href="cart.html" class="cart">Cart</a>
	<ul class="show-cart">
		<li class="product">
			<a href="product.html" class="img-product">
				<figure><img src="http://placehold.it/100x100" alt=""/></figure>
			</a>
			<div class="list-product">
				<a href="product.html"><h5>Burbon Chicken</h5></a>
				<div class="quantity">1</div>
				<div class="price-product">$22.90</div>
				<div class="remove-product"><i class="icon-close"></i></div>
			</div>
		</li>
		<li class="product">
			<a href="product.html" class="img-product">
				<figure><img src="http://placehold.it/100x100" alt=""/></figure>
			</a>
			<div class="list-product">
				<h5>Crock Pot Chicken</h5>
				<div class="quantity">1</div>
				<div class="price-product">$16.50</div>
				<div class="remove-product"><i class="icon-close"></i></div>
			</div>
		</li>
		<li class="product">
			<a href="product.html" class="img-product">
				<figure><img src="http://placehold.it/100x100" alt=""/></figure>
			</a>
			<div class="list-product">
				<h5>Hamburger with fries</h5>
				<div class="quantity">3</div>
				<div class="price-product">$15.90</div>
				<div class="remove-product"><i class="icon-close"></i></div>
			</div>
		</li>
		<li class="summation">
			<div class="summation-subtotal">
				<span>subtotal:</span>
				<span class="amount">$87.10</span>
			</div>
			<div class="btn-cart">
				<button class="btn btn-default"><a href="cart.html">view cart</a></button>
				<button class="btn btn-dark"><a href="cart.html">checkout</a></button>
			</div>
		</li>
		
	</ul>
</li>
			</ul>
		</li>
	</ul>
	

	<div class="container-fluid menu-content mixitup">
		<div class="mix category-1" data-myorder="1">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header sticky-header first-header fixed visible">
					<h2>Promotions</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Burbon Chicken</a></h6>
								<p>200g</p>
								<div class="price">
									<span class="old-price">$24.90</span>
									<span class="new-price item-price">$22.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">To Die for Crock Pot Roast</a></h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<div class="price">
									<span class="old-price">$18.90</span>
									<span class="new-price item-price">$21.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Crock Pot Chicken</a></h6>
								<p>sed dapibus mauris ac ipsum suscipit</p>
								<div class="price">
									<span class="old-price">$16.90</span>
									<span class="new-price item-price">$16.50</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Char on Rock Salt</a></h6>
								<p>800g</p>
								<div class="price">
									<span class="old-price">$8.50</span>
									<span class="new-price item-price">$5.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>							
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">The game of hunting</a></h6>
								<p>200g</p>
								<div class="price">
									<span class="old-price">$5.50</span>
									<span class="new-price item-price">$3.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>							
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Eucalyptus Smoked Lion of Lamb</a></h6>
								<p>500g</p>
								<div class="price">
									<span class="old-price">$30.30</span>
									<span class="new-price item-price">$23.30</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mix category-2" data-myorder="2">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>Starters</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Ceviche with watermelon pieces </a></h6>
								<p>feugiat lacus eget velit ullamcorper</p>
								<div class="price">
									<span class="item-price">$45.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Eucalyptus Smoked Lion of Lamb </a></h6>
								<p>450g</p>
								<div class="price">
									<span class="item-price">$38.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Meat Fruit</a></h6>
								<p>feugiat lacus eget velit ullamcorper, nec aliquam ante fermentum sed dapibus</p>
								<div class="price">
									<span class="item-price">$66.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Oven-Roasted Greek Potatoes</a></h6>
								<p>500g</p>
								<div class="price">
									<span class="item-price">$53.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Vendome</a></h6>
								<p>500g</p>
								<div class="price">
									<span class="item-price">$35.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Hamburger with fries</a></h6>
								<p>sed dapibus mauris ac ipsum suscipit</p>
								<div class="price">
									<span class="item-price">$15.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mix category-3" data-myorder="3">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header sticky-header first-header fixed visible">
					<h2>salads</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Batter balls with sardines</a></h6>
								<p>200g</p>
								<div class="price">
									<span class="item-price">$22.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Beetroots from the earth</a></h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<div class="price">
									<span class="item-price">$21.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Toasted black rice with green vegetables</a></h6>
								<p>sed dapibus mauris ac ipsum suscipit</p>
								<div class="price">
									<span class="item-price">$16.50</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Burbon Chicken</a></h6>
								<p>800g</p>
								<div class="price">
									<span class="item-price">$5.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Char on Rock Salt</a></h6>
								<p>200g</p>
								<div class="price">
									<span class="item-price">$22.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Eucalyptus Smoked Lion of Lamb</a></h6>
								<p>700g</p>
								<div class="price">
									<span class="item-price">$17.70</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mix category-4" data-myorder="4">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header sticky-header first-header fixed visible">
					<h2>Soups</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">The game of hunting</a></h6>
								<p>200g</p>
								<div class="price">
									<span class="item-price">$22.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Ceviche with watermelon pieces </a></h6>
								<p>sed dapibus mauris ac ipsum suscipit, at semper libero commodo</p>
								<div class="price">
									<span class="item-price">$21.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Meat Fruit</a></h6>
								<p>sed dapibus mauris ac ipsum suscipit</p>
								<div class="price">
									<span class="item-price">$16.50</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Eucalyptus Smoked Lion of Lamb </a></h6>
								<p>300g</p>
								<div class="price">
									<span class="item-price">$6.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Vendome</a></h6>
								<p>sed dapibus mauris ac ipsum suscipit</p>
								<div class="price">
									<span class="item-price">$9.40</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Oven-Roasted Greek Potatoes</a></h6>
								<p>450g</p>
								<div class="price">
									<span class="item-price">$5.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="mix category-5" data-myorder="5">
			
			<div class="row">
				<div class="col-xs-12 menu-category sticky-header">
					<h2>Mains</h2>
				</div>
			</div>
			<div class="row">
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Vendome</a></h6>
								<p>feugiat lacus eget velit ullamcorper</p>
								<div class="price">
									<span class="item-price">$45.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class="">
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">To Die for Crock Pot Roast</a></h6>
								<p>450g</p>
								<div class="price">
									<span class="item-price">$38.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<h6><a href="product.html">Crock Pot Chicken</a></h6>
								<p>feugiat lacus eget velit ullamcorper, nec aliquam ante fermentum sed dapibus</p>
								<div class="price">
									<span class="item-price">$66.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Oven-Roasted Greek Potatoes</a></h6>
								<p>500g</p>
								<div class="price">
									<span class="item-price">$53.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Batter balls with sardines</a></h6>
								<p>500g</p>
								<div class="price">
									<span class="item-price">$35.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="menu-item">
					<a href="product.html" class="hidden-xs unveil">
						<figure>
							<img src="img/placeholder.png" data-src="http://placehold.it/300x300" alt="Menu item"/>
							<div class="actions">
								<i class="icon-magnifier-add"></i>
							</div>
						</figure>
					</a>
					<div class="item-description">
						<div class="">
							<div class=""> 
								<div class="rating">
									<span><span style="width: 80%"></span></span>
								</div>
								<h6><a href="product.html">Hamburger with fries</a></h6>
								<p>sed dapibus mauris ac ipsum suscipit</p>
								<div class="price">
									<span class="item-price">$15.90</span>
								</div>
								<div class="shop-button"><a href="product.html" class="btn btn-default btn-sm">buy now</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div id="footer-spacer"></div>
<footer id="footer" class="text-center" th:replace="index::footer">

	<a href="#" class="to-the-top">
		<i class="fa fa-arrow-circle-o-up"></i>
	</a>

	<h2>Berg restaurant</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center v-card">

					<div class="col-sm-6 col-lg-3">
						<div class="open-daily">
							<span class="day">Monday - Thursday</span>
							<span class="hours">7.00 - 21.00</span>
						</div>
					</div>
					<div class="col-sm-6 col-lg-3">	
						<div class="open-daily">
							<span class="day">Friday - Sunday</span>
							<span class="hours">7.00 - 23.00</span>
						</div>
					</div>	
					<div class="col-sm-6 col-lg-3">	
						<div class="simple-contact">
							<span class="address">Armii Krajowej 17</span>
							<span class="postal-code">58-100 Świdnica</span>
						</div>
					</div>	
					<div class="col-sm-6 col-lg-3">	
						<div class="simple-contact">
							<span class="mobile"><a href="#">+48 889 889 889</a></span>
							<span class="email"><a href="#">restaurant@berg.com</a></span>
						</div>
					</div>
			</div>
		</div>
	</div>
			<ul class="social-icon clearfix">
				<li>
					<a href="#"><i class="fa fa-facebook"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-twitter"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-pinterest"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-google-plus"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</li>
			</ul>


	<p class="copyrights">© 2014 <a href="index">Berg</a>. All Rights Reserved. </p>
		<div class="gallery-wrapper"></div>

		<div id="preloader">
			<div id="status">
				<div class="loading-wrapper">
					<img src="img/logo2.png" alt="Loading"/>
				</div>
			</div>
			<div id="status-loaded"></div>
		</div>

		<script src="js/browser.js"></script>
		<script src="js/jquery.ba-throttle-debounce.min.js"></script>
		<script src="js/jquery.smooth-scroll.js"></script>
		<script src="js/matchmedia.js"></script>
		<script src="js/enquire.min.js"></script>
		<script src="js/jquery.velocity.min.js"></script>
		<script src="js/waypoints.js"></script>		
		<script src="js/owl.carousel.js"></script>
		<script src="js/jquery.mb.YTPlayer.js"></script>
		<script src="js/jquery.parallaxify.js"></script>
		<script src="js/jquery.imagesloaded.js"></script>
		<script src="js/jquery.unveil.min.js"></script>
		<script src="js/jquery.superslides.min.js"></script>
		<script src="js/jquery.fullPage.min.js"></script>
		<script src="js/jquery.mixitup.js"></script>
		<script src="js/main.js"></script>
</footer>
	</body>
</html>
