<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">
    </head>
    <body class="intro-top fixed-footer yo-anim-enabled">

		<!--content-->


<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">

</nav>
<div id="mobile-nav" class="visible-xs visible-sm" th:replace="index::nav2">
	<header>
		<div class="container-fluid">
			<ul class="menu-header">
				<li class="pull-left">
					<a href="../index.html" class="logo">
						<figure>
							<img src="img/logo2.png" alt="Berg HTML Theme"/>
						</figure>
					</a>
				</li>
				<li class="reorder pull-right"><a href="#" title=""><i class="fa fa-bars"></i></a></li>
			</ul>
		</div>
	</header>	
	<div class="" id="flyout-container">
		<ul id="mobile-navbar" class="nav flyout-menu main-nav nav-height">
			<li class="nav-item">
				<a title="" href="../index.html">home</a>
			</li>
			<li class="nav-item">
				<a title="" href="blog.html">blog</a>
				<span class="open-children"><i class="fa fa-angle-down"></i></span>
				<ul class="subnav">
					<li>
						<a href="blog.html"><span>blog</span></a>
					</li>
					<li><a href="post.html" title=""><span>post 1</span></a></li>
					<li><a href="post2.html" title=""><span>post 2</span></a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a title="" href="restaurant.html">Restaurant</a>
			</li>
			<li class="nav-item">
				<a title="" href="menu.html" class="">Menu</a>
				<span class="open-children"><i class="fa fa-angle-down"></i></span>
				<ul class="subnav">
					<li><a href="menu.html" title=""><span>Menu 1</span></a></li>
					<li><a href="menu2.html" title=""><span>Menu 2</span></a></li><li><a href="http://www.weidea.net" title=""><span>more</span></a></li>
				</ul>
			</li>
			<li class="nav-item">
				<a title="" href="reservation.html">Reservation</a>
			</li>
			<li class="nav-item">
				<a title="" href="contact.html">Contact</a>
			</li>
			<li class="nav-item">
				<a title="" href="shop.html">Shop</a>
			</li>
			<li class="nav-item">
				<a title="" href="gallery.html">Gallery</a>
			</li>
		</ul>
	</div>
</div>



<div class="section-intro section-intro-parallax" data-opacity-start="30" data-opacity-end="100">
	<div class="bg-section reservation-fullscreen"></div>
	<div class="pre-content">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">
					<h1 class="yo-anim yo-anim-fade" data-animation-delay="100">An Italian dream</h1>
					<p class="yo-anim yo-anim-fade" data-animation-delay="500">In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum eleifend nulla quis bibendum. Sed tempus massa dolor, vel pharetra elit dictum in. </p>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="section-space"></div>
<section id="reservation" class="section-scroll main-section">
	<div class="main-section">
		<div class="reservation-content container">
			<div class="row">

				<div class="col-xs-12 col-md-8 col-md-offset-2 reservation-header">
					<h1>Half screen intro with parallax effect</h1>
					<p class="lead">You can get this effect by using <strong>intro-top</strong> class for <strong>body</strong>.</p>
					<p>Nunc ac orci in sem vulputate interdum. Ut feugiat lacus eget velit ullamcorper, nec aliquam ante fermentum. Cras iaculis dui in libero aliquam commodo. Sed bibendum vitae nisi nec fermentum. Sed enim ante, interdum non adipiscing eu, commodo quis magna.</p>
					<p>Lorem ipsum Adipisicing sint non ut veniam ad Excepteur proident incididunt occaecat ullamco ad sit nostrud aliquip magna culpa elit sunt quis dolore eiusmod laboris cupidatat proident amet minim fugiat sed cillum magna laborum amet in pariatur laboris consequat elit.</p>
					<p>Lorem ipsum Sunt dolore dolor Duis adipisicing incididunt sed aliqua labore ut sit labore ullamco consectetur Ut adipisicing do consectetur adipisicing non sunt deserunt sint id dolor culpa id.</p>


				</div>				
			</div>
		</div>
	</div>

</section>

<div id="footer-spacer"></div>
<footer id="footer" class="text-center" th:replace="index::footer">
</footer>
	</body>
</html>
