<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="index::head">

    </head>
    <body class="no-intro fixed-footer yo-anim-enabled">

		<!--content-->


<nav id="main-navbar" class="hidden-xs hidden-sm" th:replace="index::nav">

</nav>
<div id="mobile-nav" class="visible-xs visible-sm" th:replace="index::nav2">

</div>

<section id="reservation" class="section-scroll main-section">
	<div class="main-section">
		<div class="reservation-content container">
			<div class="row">
				<div class="col-xs-12 col-md-8 col-md-offset-2 reservation-header">
					<h1>This is a content without intro section</h1>
					<p class="lead">You can get this effect by using <strong>no-intro</strong> class for <strong>body</strong>.</p>
					<p>Nunc ac orci in sem vulputate interdum. Ut feugiat lacus eget velit ullamcorper, nec aliquam ante fermentum. Cras iaculis dui in libero aliquam commodo. Sed bibendum vitae nisi nec fermentum. Sed enim ante, interdum non adipiscing eu, commodo quis magna.</p>
					<p>Lorem ipsum Adipisicing sint non ut veniam ad Excepteur proident incididunt occaecat ullamco ad sit nostrud aliquip magna culpa elit sunt quis dolore eiusmod laboris cupidatat proident amet minim fugiat sed cillum magna laborum amet in pariatur laboris consequat elit.</p>
					<p>Lorem ipsum Sunt dolore dolor Duis adipisicing incididunt sed aliqua labore ut sit labore ullamco consectetur Ut adipisicing do consectetur adipisicing non sunt deserunt sint id dolor culpa id.</p>


				</div>
			</div>
		</div>
	</div>
</section>

<div id="footer-spacer"></div>
<footer id="footer" class="text-center" th:replace="index::footer">
</footer>
	</body>
</html>
